@keyframes enterButton {
  from {padding: 0px 0px;
        font-size: 0px}
  to {padding: 40px 80px;
      font-size: 32px}
}
@keyframes enterTextField{
  from {width: 0px;
        height: 0px;
        font-size:0px;}
  to {  width:750px;
    height: 100px;
    font-size: 50px;}
}
@keyframes enterP{
  from {
        font-size:0px;}
  to {
    font-size: 100px;}
}
@keyframes shakeBox {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: -200px;}
    100% {left:  0px;}
}
.shake {
  animation: shakeBox 1s;
}
/*div{
  font-size: 100px;
  color: white;
}*/
html{
   padding:0;
     margin:0;
}
body{
  background-color:  #ff4d4d;
   padding:0;
  padding-bottom:60px;
  margin:0;

}


.main-container{
  float: left;
  left: 50%;
  position: relative;
  font-size: 100px;
  color: white;
}
.enter_animate{
    animation: enterP 0.5s;
}
p{
  margin:27px;
}
.game-box{

  text-align: center;
  position: relative;
  left: -50%;
  float: left;

}
.button {
   animation: enterButton 0.5s;
    background-color: #ff4d4d;
    border: 2px solid white;
    width:400px;
    height: auto;
    color: white;
    padding: 40px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    transition: 0.4s;
}
.button:hover{
  /*background-color: #ffe6e6;*/
  background-color: white;
  color: #ff4d4d;

}

#user_input{
  animation: enterTextField 0.5s;
  position:absolute;
  width:750px;
  height: 85px;
  font-size: 80px;
  text-align: center;
  color:white;
  /*left: 50%;*/
  left: 0;
  right: 0;
  margin: auto;
  background: transparent;
  /*padding: 10px;*/
  padding-bottom: 0px;
  border: 0;
  border-bottom: solid 2px white;
  transition: border 0.3s;
outline:none;
}

#user_input:focus,
#user_input.focus{
  border-bottom: solid 2px #BFBFBF;
  outline:none;
}
#state_name{
  border: solid 5px white;
  margin-bottom: 200px;
  /*line-height: 22px;*/
}
#footer {
  position:absolute;
  bottom:0;
  width:0%;
  height:40px;
  background:white;
  float: left;
  margin:0;
  font-size:30px;
  color: #ff4d4d;
  padding:0;
  text-align: center;
}
